/Dashboard/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Timer/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Timer/obj/Debug/net9.0/apphost
/Timer/bin/Debug/net9.0/runtimes/win-arm64/native/av_libglesv2.dll
/Timer/bin/Debug/net9.0/runtimes/win-x64/native/av_libglesv2.dll
/Timer/bin/Debug/net9.0/runtimes/win-x86/native/av_libglesv2.dll
/Timer/bin/Debug/net9.0/Avalonia.Base.dll
/Timer/bin/Debug/net9.0/Avalonia.Controls.ColorPicker.dll
/Timer/bin/Debug/net9.0/Avalonia.Controls.DataGrid.dll
/Timer/bin/Debug/net9.0/Avalonia.Controls.dll
/Timer/bin/Debug/net9.0/Avalonia.DesignerSupport.dll
/Timer/bin/Debug/net9.0/Avalonia.Desktop.dll
/Timer/bin/Debug/net9.0/Avalonia.Diagnostics.dll
/Timer/bin/Debug/net9.0/Avalonia.Dialogs.dll
/Timer/bin/Debug/net9.0/Avalonia.dll
/Timer/bin/Debug/net9.0/Avalonia.Fonts.Inter.dll
/Timer/bin/Debug/net9.0/Avalonia.FreeDesktop.dll
/Timer/bin/Debug/net9.0/Avalonia.Markup.dll
/Timer/bin/Debug/net9.0/Avalonia.Markup.Xaml.dll
/Timer/bin/Debug/net9.0/Avalonia.Metal.dll
/Timer/bin/Debug/net9.0/Avalonia.MicroCom.dll
/Timer/bin/Debug/net9.0/Avalonia.Native.dll
/Timer/bin/Debug/net9.0/Avalonia.OpenGL.dll
/Timer/bin/Debug/net9.0/Avalonia.ReactiveUI.dll
/Timer/bin/Debug/net9.0/Avalonia.Remote.Protocol.dll
/Timer/bin/Debug/net9.0/Avalonia.Skia.dll
/Timer/bin/Debug/net9.0/Avalonia.Themes.Fluent.dll
/Timer/bin/Debug/net9.0/Avalonia.Themes.Simple.dll
/Timer/bin/Debug/net9.0/Avalonia.Win32.dll
/Timer/bin/Debug/net9.0/Avalonia.X11.dll
/Dashboard/obj/Debug/net9.0/Dashboard.AssemblyInfo.cs
/Timer/obj/Debug/net9.0/Dashboard.AssemblyInfo.cs
/Dashboard/obj/Debug/net9.0/Dashboard.AssemblyInfoInputs.cache
/Timer/obj/Debug/net9.0/Dashboard.AssemblyInfoInputs.cache
/Dashboard/obj/Debug/net9.0/Dashboard.assets.cache
/Timer/obj/Debug/net9.0/Dashboard.assets.cache
/Dashboard/obj/Debug/net9.0/Dashboard.csproj.AssemblyReference.cache
/Timer/obj/Debug/net9.0/Dashboard.csproj.AssemblyReference.cache
/Timer/obj/Debug/net9.0/Dashboard.csproj.CoreCompileInputs.cache
/Timer/obj/Debug/net9.0/Dashboard.csproj.FileListAbsolute.txt
/Dashboard/obj/Dashboard.csproj.nuget.dgspec.json
/Timer/obj/Dashboard.csproj.nuget.dgspec.json
/Dashboard/obj/Dashboard.csproj.nuget.g.props
/Timer/obj/Dashboard.csproj.nuget.g.props
/Dashboard/obj/Dashboard.csproj.nuget.g.targets
/Timer/obj/Dashboard.csproj.nuget.g.targets
/Timer/obj/Debug/net9.0/Dashboard.csproj.Up2Date
/Timer/bin/Debug/net9.0/Dashboard.deps.json
/Timer/obj/Debug/net9.0/ref/Dashboard.dll
/Timer/obj/Debug/net9.0/refint/Dashboard.dll
/Timer/obj/Debug/net9.0/Dashboard.dll
/Dashboard/obj/Debug/net9.0/Dashboard.GeneratedMSBuildEditorConfig.editorconfig
/Timer/obj/Debug/net9.0/Dashboard.GeneratedMSBuildEditorConfig.editorconfig
/Timer/obj/Debug/net9.0/Dashboard.genruntimeconfig.cache
/Timer/obj/Debug/net9.0/Dashboard.pdb
/Timer/bin/Debug/net9.0/Dashboard.runtimeconfig.json
/Timer/obj/Debug/net9.0/Dashboard.sourcelink.json
/Timer/bin/Debug/net9.0/DynamicData.dll
/Timer/bin/Debug/net9.0/HarfBuzzSharp.dll
/Timer/bin/Debug/net9.0/runtimes/osx/native/libAvaloniaNative.dylib
/Timer/bin/Debug/net9.0/runtimes/win-arm64/native/libHarfBuzzSharp.dll
/Timer/bin/Debug/net9.0/runtimes/win-x64/native/libHarfBuzzSharp.dll
/Timer/bin/Debug/net9.0/runtimes/win-x86/native/libHarfBuzzSharp.dll
/Timer/bin/Debug/net9.0/runtimes/osx/native/libHarfBuzzSharp.dylib
/Timer/bin/Debug/net9.0/runtimes/linux-arm/native/libHarfBuzzSharp.so
/Timer/bin/Debug/net9.0/runtimes/linux-arm64/native/libHarfBuzzSharp.so
/Timer/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
/Timer/bin/Debug/net9.0/runtimes/linux-x64/native/libHarfBuzzSharp.so
/Timer/bin/Debug/net9.0/runtimes/win-arm64/native/libSkiaSharp.dll
/Timer/bin/Debug/net9.0/runtimes/win-x64/native/libSkiaSharp.dll
/Timer/bin/Debug/net9.0/runtimes/win-x86/native/libSkiaSharp.dll
/Timer/bin/Debug/net9.0/runtimes/osx/native/libSkiaSharp.dylib
/Timer/bin/Debug/net9.0/runtimes/linux-arm/native/libSkiaSharp.so
/Timer/bin/Debug/net9.0/runtimes/linux-arm64/native/libSkiaSharp.so
/Timer/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
/Timer/bin/Debug/net9.0/runtimes/linux-x64/native/libSkiaSharp.so
/Timer/bin/Debug/net9.0/MicroCom.Runtime.dll
/Timer/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/Timer/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/Timer/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/Timer/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/Timer/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/Timer/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/Timer/bin/Debug/net9.0/Microsoft.CodeAnalysis.Scripting.dll
/Timer/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/Timer/obj/Debug/net9.0/Avalonia/original.dll
/Timer/obj/Debug/net9.0/Avalonia/original.pdb
/Timer/obj/Debug/net9.0/Avalonia/original.ref.dll
/Dashboard/obj/project.assets.json
/Timer/obj/project.assets.json
/Dashboard/obj/project.nuget.cache
/Timer/obj/project.nuget.cache
/Dashboard/obj/project.packagespec.json
/Timer/obj/project.packagespec.json
/Timer/bin/Debug/net9.0/ReactiveUI.dll
/Timer/obj/Debug/net9.0/Avalonia/references
/Dashboard/obj/Debug/net9.0/Avalonia/resources
/Timer/obj/Debug/net9.0/Avalonia/resources
/Dashboard/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
/Timer/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
/Timer/obj/rider.project.model.nuget.info
/Dashboard/obj/rider.project.restore.info
/Timer/obj/rider.project.restore.info
/Timer/bin/Debug/net9.0/SkiaSharp.dll
/Timer/bin/Debug/net9.0/Splat.dll
/Timer/bin/Debug/net9.0/System.Reactive.dll
/Timer/obj/Debug/net9.0/Timer.AssemblyInfo.cs
/Timer/obj/Debug/net9.0/Timer.AssemblyInfoInputs.cache
/Timer/obj/Debug/net9.0/Timer.assets.cache
/Timer/obj/Debug/net9.0/Timer.csproj.AssemblyReference.cache
/Timer/obj/Timer.csproj.nuget.dgspec.json
/Timer/obj/Timer.csproj.nuget.g.props
/Timer/obj/Timer.csproj.nuget.g.targets
/Timer/obj/Debug/net9.0/Timer.GeneratedMSBuildEditorConfig.editorconfig
/Timer/bin/Debug/net9.0/Tmds.DBus.Protocol.dll
